/* Start main rules */
body{
	background-color:#F4F4F4; 
	font-size: 16px;
}
/*start login form*/
.login{
	width: 300px;
	margin: 100Px auto;
}

.login input{
	margin-bottom: 10px;
}
/* end login form*/
.login .form-control{
	background-color: #EAEAEA; 
}
.login .btn{
	background-color: #008DDE;
}
/* navbar edit */
.navbar{
	border-radius: 0px;
	    margin-bottom: 0px;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
	background-color: #3498DB;
}
.navbar-brand{
	font-size: 16px;
	padding: 15px 12px;
}
.navbar-nav>li>a{
	padding-top: 15px 12px;
}
.dropdown-menu {
	min-width: 180px;
	background-color: #3498DB;
	padding: 0px;
	font-size: 16PX;
	border: none;
	border-radius: 0px;
}
.dropdown-menu > li >a{
	color:#fff;
	padding: 10px 15px;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover
{
color: #FFF;
background-color: #8e44ad; 
}
/* end navbar
*/
input{
	margin: 5px;
}
h1{
	font-size: 30px;
	color: #888;
	font-weight: bold;
}
.form-control{
	position: relative;
}
.asterisk{
	font-size: 17px;
position: absolute;
color: #d20707;
right: 725px;
top: 7px;
}
.show-pass{
	position: absolute;
	top: 6px;
	right: 677px;
}
/* table style
*/
.main-table{
	-webkit-box-shadow :0 3px 10px #CCC;
	-moz-box-shadow :0 3px 10px #CCC;
	box-shadow :0 3px 10px #CCC;
}
.main-table td{
	background-color: #fff;
	vertical-align: middle;
    text-align: center;
}
.main-table tr:first-child td{
	background-color: #333;
	color: #FFF;
	text-align: center;


}