/* Start main rules */
body{
	background-color:#F4F4F4; 
	font-size: 16px;
}
/*start login form*/
.login{
	width: 300px;
	margin: 100Px auto;
}

.login input{
	margin-bottom: 10px;
}
/* end login form*/
.login .form-control{
	background-color: #EAEAEA; 
}
.login .btn{
	background-color: #008DDE;
}
/* navbar edit */
.navbar{
	border-radius: 0px;
	    margin-bottom: 0px;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
	background-color: #3498DB;
}
.navbar-brand{
	font-size: 16px;
	padding: 15px 12px;
}
.navbar-nav>li>a{
	padding-top: 15px 12px;
}
.dropdown-menu {
	min-width: 180px;
	background-color: #3498DB;
	padding: 0px;
	font-size: 16PX;
	border: none;
	border-radius: 0px;
}
.dropdown-menu > li >a{
	color:#fff;
	padding: 10px 15px;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover
{
color: #FFF;
background-color: #8e44ad; 
}
/* end navbar
*/
h1{
	font-size: 30px;
	color: #888;
	font-weight: bold;
}
.form-control{
	position: relative;
}
.asterisk{
	font-size: 17px;
position: absolute;
color: #d20707;
right: 20px;
top: 7px;
}
.show-pass{
	position: absolute;
	top: 6px;
	right: -30px;
}
/* table style
*/
.main-table{
	-webkit-box-shadow :0 3px 10px #CCC;
	-moz-box-shadow :0 3px 10px #CCC;
	box-shadow :0 3px 10px #CCC;
}
.main-table td{
	background-color: #fff;
	vertical-align: middle;
    text-align: center;
}
.main-table tr:first-child td{
	background-color: #333;
	color: #FFF;
	text-align: center;


}
.active{
	margin-left: 4px;
}
/*start dashbord style*/
.home-stats .stat{
	background-color: #EEE;
	padding: 20px;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
}
.home-stats .stat a{
	text-decoration: none;
	color: #FFF;
}
.home-stats .stat span{
	display: block;
	font-size: 70px;
}
.latest{
	margin-top: 26px;
}
.home-stats .st-member{
	background-color: #f1c40f;
}
.home-stats .st-pending{
	background-color: #8E44AD;
}
.home-stats .st-comment{
	background-color: #3498DB;
}
.home-stats .st-items{
	background-color: #E74C3C;
}
/*dashbord panel*/
.latest-users{
	margin-bottom: 0px;
}
.latest-users li{
	padding: 10px;
	overflow: hidden;
}
.latest-users li:nth-child(odd){
	background-color: #EEE;
}
.latest-users .btn-success{
	padding: 3px 8px;
}
.latest-users .btn-info{
	padding: 3px 8px;
	margin-right: 5px; 
}
/*end members page
/*start categoris page*/
.categories .cat h3{
	margin: 0 0 0px;
	cursor: pointer;
}
.categories .cat:last-of-type ~ hr{
	display: none;
}
.categories .cat{
	padding: 15px;
	position: relative;
	overflow: hidden;
}
.categories .cat .hidden-buttons a{
	margin-right: 5px;
}
.categories .cat:hover .hidden-buttons{
	right: 10px;

}
.categories .cat:hover {
	background-color: #EEE;
}
.categories .cat .hidden-buttons{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	position: absolute;
	top: 15px;
	right: -120px;
}
.container{
	width: 1000Px;
}
.vis{
	background-color: #D35400;
color: white;
padding: 5px;
border-radius: 5px;
margin-right: 5px;

}
.comments{
	background-color: #2C3E50;
color: white;
padding: 5px;
border-radius: 5px;
margin-right: 5px;

}
.ads{
	background-color: #c0392B;
color: white;
padding: 5px;
border-radius: 5px;
margin-right: 5px;

}
.categories hr{
	margin-top: 0px;
	margin-bottom: 0px;
}
.categories .panel-heading i {
	position: relative;
	top: 1px;
}

.categories .panel-body {
	padding: 0;
}
.categories .option a{
	color: #888;
	text-decoration: none;
}
.categories .option span{
	color: #888;
    cursor: pointer;
}
.categories .option .active {
	color: #F00;
    font-weight:bold;
}
.categories .add-category{
	margin-top: -10px;
}
